@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.confetti-piece {
  position: absolute;
  top: -10px;
  width: 8px;
  height: 16px;
  background-color: hsl(var(--hue), 80%, 65%);
  animation: confetti-fall linear infinite;
  transform: rotate(15deg);
}

.confetti-piece:nth-child(odd) {
  width: 6px;
  height: 12px;
}

@keyframes confetti-fall {
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

/* color variations */
.confetti-piece {
  --hue: calc(360 * random());
}
